body {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    background-color: #E4F9F5;
}
​
.flex {
    display: flex;
}
​
.container-2{
    flex-direction: row;
}
​
h1 {
    color: #4886a2;
}
​
.submit-button {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #30E3CA;
    border: none;
    margin-left: 10px;
    color: #e9f8f8;
}
​
.submit-button:hover {
    cursor: pointer;
    background-color: #1cb19d;
}
​
.submit-button:focus {
    outline: none;
}
​
.addTask {
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: lightblue;
    border: none;
    margin-left: 10px;
    color: #40514E;
}
​
.addTask:focus{
    outline: none;
}l

ul {
    padding-left: 0;
    border-radius: 20px;
    background-color: #bff8ed;
    list-style-type: none;
    padding: 5px;
}

.list-item {
    margin-bottom: 5px;
}

.strike {
    text-decoration: line-through ;
}
